<div
  class="sky-form-group sky-input-group sky-phone-field"
>
  <ng-container *ngIf="!countrySearchShown">
    <div
      class="sky-input-group-btn sky-phone-field-country-btn"
    >
      <button
        class="sky-btn sky-btn-default"
        (click)="toggleCountrySearch(true)"
      >
        <div
          [className]="'iti-flag ' + selectedCountry.iso2"
        >
        </div>
      </button>
    </div>
    <ng-content></ng-content>
  </ng-container>
  <ng-container *ngIf="countrySearchShown">
    <sky-autocomplete
      class="sky-phone-field-country-search"
      [data]="countries"
      [propertiesToSearch]="['name', 'iso2']"
      [searchResultTemplate]="countrySearchResultTemplate"
      [searchTextMinimumCharacters]="2"
      (selectionChange)="onCountrySelected($event)"
    >
      <input
        skyAutocomplete
        id="my-autocomplete-template-driven"
        name="selectedCountry"
        type="text"
        [(ngModel)]="selectedCountry"
        #countrySearchInput
      >
    </sky-autocomplete>
    <div
      class="sky-search-item-dismiss"
    >
      <!-- ADD TITLE BACK -->
      <button
        class="sky-btn sky-btn-default sky-phone-field-search-btn-dismiss"
        type="button"
        (click)="toggleCountrySearch(false)"
      >
        <sky-icon
          icon="chevron-circle-left"
          size="lg"
        >
        </sky-icon>
      </button>
    </div>
  </ng-container>
</div>

<ng-template
  let-item="item"
  #countrySearchResultTemplate
>

  <div
    [className]="'iti-flag ' + item.iso2"
  >
  </div>
  {{ item.name }}
  <span
    class="sky-deemphasized"
  >
    +{{ item.dialCode }}
  </span>
</ng-template>
